
.text span:hover {  /*syntax bam shewaya (((.class element:hover))) "boy rangish bgorit la hover*/
	background-color:rgba(43, 180, 32  ,20);
	 color: darkblue;
	font-size: 26px;

}

.slidingVertical {
	display: inline;
	text-indent: 8px;
	transition: visibility 0s 2s, opacity 2s linear;
}
.slidingVertical span {
	animation: fadeEffect 5s linear infinite 0s;
	-ms-animation: fadeEffect 5s linear infinite 0s;
	-webkit-animation: fadeEffect 5s linear infinite 0s;
	color: #00abe9;
	opacity: 0.5;
	animation-delay: 2s; /* animation starts after 2 second*/
	position: absolute;
}



@-webkit-keyframes fadeEffect {
  50% { opacity: 0.1; }
}

@keyframes fadeEffect {
  0% { opacity: 0.5; }
   15% { opacity: 1; }
  25% { opacity: 2; }
  50% { opacity: 3; }
  75% { opacity: 2; }
  90% { opacity: 1; }
  100% { opacity: 0.5; }
}



/*-----------------------------------------*/
section.dice {
  margin: 0 auto;
  height: 50px; width: 50px;
  position: relative;
  transform-style: preserve-3d;
  animation: turn 10s infinite linear;
}
@keyframes turn {
  0% {   transform: scale(2)  rotateY(0deg) rotateX(30deg) translateY(100px)}
  100% { transform: scale(2) rotateY(360deg) rotateX(30deg) translateY(100px)}
}
.dice div {
  position: absolute;
  top: 0; left: 0;
  font-size: 50px;
  background: white;
  width: 50px; height: 50px;
  text-align: center;
  box-shadow: inset 0 0 25px #aaa, 0 0 20px #fff;
  border-radius: 2px;
}
.dice div:after, .dice div:before {
  position: relative;
  display: block;
  transform: rotate(0.1deg);  
}
.dice div:nth-child(1):after{
  content: ".";  
  bottom: 20px;  
}
.dice div:nth-child(2) {
  transform: 
    translateX(50%)
    rotateY(90deg) 
    translateX(50%);
}
.dice div:nth-child(2):after{
  content: ". .";
  transform: rotate(45deg);  
  left: 10px; bottom: 15px;
}
.dice div:nth-child(3) {
  transform: 
    translateY(50%)
    rotateX(90deg) 
    translateY(-50%);
}
.dice div:nth-child(3):after{
  content: "...";
  transform: rotate(45deg);  
  left: 10px; bottom: 15px;
}
.dice div:nth-child(4) {
  transform: 
    translateY(-50%)
    rotateX(90deg) 
    translateY(-50%);
}
.dice div:nth-child(4):before{
  content: ". .";
  bottom: 35px;
}
.dice div:nth-child(4):after{
  content: ". .";
  bottom: 65px;
}
.dice div:nth-child(5) {
  transform: 
    translateX(-50%)
    rotateY(-90deg) 
    translateX(-50%);
}
.dice div:nth-child(5):before{
  content: ". . .";
  line-height: 14px;
  bottom: 10px;
}
.dice div:nth-child(5):after{
  content: ". .";
  bottom: 33px;
}
.dice div:nth-child(6) {
  transform: 
    rotateY(-90deg) 
    translateX(-100%)
    rotateY(-90deg);
}
.dice div:nth-child(6):before{
  content: "...";
  bottom: 35px;
}
.dice div:nth-child(6):after{
  content: "...";
  bottom: 60px;
}




.tab {
    float: left;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
    width: 20%;
    height: 250px;
}

.tab button { 
    display: block;
    background-color: inherit;
    color: black;
    padding: 22px 16px;
    width: 100%;
    border: none;
    outline: none;
    text-align: left;
    cursor: pointer;
    transition: 0.3s;
}

.tab button:hover {
    background-color: #ddd;
    border-radius: 25px;
}

.tab button.active {
    background-color: #ccc;
}





  .tab {
    padding: 18px;
    max-height: 10;
    overflow: hidden;
    transition: max-height 0.2s ease-out;

}
/* change in tab divisions colors when hovered on*/
 .tab button:hover {
    background-color: #5F8F39;
    color:#5F8F39;

}
/*^^^^^^^^^^*/



.tab1 button,form {
    display: block;
    background-color: inherit;
    color: black;
    padding: 22px 16px;
    width: 40%;
    height: 30%;
    border: none;
    outline: none;
    text-align: left;
    cursor: pointer;
    transition: 0.3s;
    border: 2px solid #4CAF50;
    background-color: #f1f1f1;
    float: right;

}
/* change login form color when hovered on*/
.tab1 form:hover{
  background-color: #ccc;
}
/*Trying ::after selector This has no related to the subject*/

.tab:after {
    content: '\002B';
    color: blue;
    font-weight: bold;
    float: right;
    margin-left: 5px;
    content: "Tjokusoooooooo";

}

/*change Text color above the login form when hoverd on it*/
.tab1 button:hover {
    background-color: #ddd;
    border-radius: 25px;
}

.B52 button {
  background-color: #ddd;
   border-radius: 25px;
   color: green;
   text-align: center;
}
.B52 button:hover {
  background-color: #ccc;
   border-radius: 25px;
   color: darkgreen;
   /* text-align: center;*/
   display: inline;
  text-indent: 0px;
  text-orientation: 80px;
   transform: scale(0.9); 
  /* cool stuff*/
   
}

/* #<<< bo id i */
#i {
transform: scale(1.1); 
}

.B52:hover #i {
transform: scale(1.6); 
}


input{
-webkit-border-radius: 50px;
-moz-border-radius: 50px;
border-radius: 50px;
}
/*this is how you do it the structure: .className:hover #Id {  }*/
.tab1:hover #textIntro
{
  background-color: none;
  
  color:green;
}



/* this is for testing class calc*/
  .calc {
      display: inline-block;
      position: absolute;
      background-color: darkgreen;
      width: 100px;
        height: 100px;
      left:290px;
      top:480px;  
      margin:-60px 0 0 -60px;
        -webkit-animation:spin 4s linear infinite;
      -moz-animation:spin 4s linear infinite;
      animation:spin 4s linear infinite;
      }
    
@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }

  
  .calc:hover{
    background-color: darkblue;
    width: calc(8% - 10px);

  }
  
  /* details viewing users stuff*/
  .detailId {
    color:orange;
    width: calc(23% - 10px);
    position: absolute;
    left:40px;
    top:380px;
  }